img {
	width: 20%;
	float: left;
	margin: 1.66%;
	filter:grayscale(90%);
}
img:hover {
	filter:grayscale(15%);
}
hr {
	margin-left: 1.66%;
	width: 30%;
}

h5 {
	/*margin-top: 500px;*/
	margin: auto 0;
}
p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	/*border-bottom: 2px solid #f1f1f1;*/
	width: 30%;
	padding-bottom: 20px;
}
