body{
	padding-top: 70px;
	font-variant: small-caps;
	font-size: 20px;

}


.jumbotron {
	color: #ddd;
	background-color: gray;
}
.navbar-inverse .navbar-nav>li>a {
	color: #ddd;
	font-size: 1.2em;
}

.fas, fa-camera-retro {
	font-size: 30px;
	top: -5px;
	line-height: .6;
}

h3 {
	margin: 100px auto;
}
img {
	filter:grayscale(90%);
}
#kevpic {
	width: 30%;
	margin: 20px 10%;
}
img:hover {
	filter:grayscale(15%);
}
